<head>
    <title>My Salon</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .imgDiv {
            width: 100%;
            height: 70%;
            background-image: url('https://image.shutterstock.com/image-photo/hairdresser-tools-on-black-background-600w-1158042907.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 12% 0;
        }

        .labels {
            color: rgb(44, 47, 49);
            font-size: larger;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: aliceblue;
            width: fit-content;
            border-radius: 5%;
            margin: 5px 0;
            padding: 0 5px;
        }

        .timeInputDiv {
            background-color: white;
            display: inline-flex;
            border: 1px solid #ccc;
            color: #555;
        }

        .timeInput {
            border: none;
            color: #555;
            text-align: center;
            width: 60px;
            font-size: 1.4em;
        }
    </style>
</head>