<!doctype html>
<html lang="en">

<%- include ('partials/header') %>

<body>
    <div class="imgDiv">
        <div class="container my-4">
            <div class="panel-primary">
                <div class="labels">Boka en tid</div>
                <div class="panel-body">
                    <form action="/" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label labels">Fullständiga namn</label>
                                    <input type="text" class="form-control" name="name" autocomplete="off" id="name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label labels">E-post</label>
                                    <input type="text" class="form-control" name="email" autocomplete="off" id="email">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label labels">Mobilnummer</label>
                                    <input type="number" class="form-control" name="mobile" autocomplete="off"
                                        id="mobile">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Välj salong</label>
                                    <select class="form-control" name="salong">
                                        <option>Al-yarmouk Frisör</option>
                                        <option>Almagd frisör</option>
                                        <option>Salong Hadeea</option>
                                        <option>Style Salong</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label labels">Bokningsdatum</label>
                                    <input type="date" class="form-control" id="date" name="date" autocomplete="off">
                                </div>
                            </div>
                            <div class='col-md-4'>
                                <div class="form-group">
                                    <label class="control-label labels">Bokningstid</label>

                                    <div class='input-group' style="width: 100%;">
                                        <input type="time" name='time' autocomplete="off" class="form-control"
                                            data-time-format="H:i" min="09:00" max="18:00" data-show-2400="true" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Skicka in">
                </div>
                </form>
            </div>
        </div>
    </div>

    <%- include ('partials/scripts') %>

</body>

</html>